@import 'src/mixins/mixin.scss';

.container {
  min-height: 70vh;

  @include nav-title-style;

  .row {
    @include display-center;
    align-items: flex-start;
    margin: 40px 0px 10px 0px;
    flex-wrap: wrap;
    @include column-style;
  }
}
