<div class="footer">
    <div class="footer-main">
        <div class="logo">
            <img src="../../assets/marvel-logo.jpeg" alt="">
        </div>
        <div class="options">
            <a href="">ABOUT MARVEL</a>
            <a href="">HELP/FAQ</a>
            <a href="">CARRER</a>
            <a href="">INTERNSHIP</a>
        </div>
        <div class="advertising">
            <a href="">ADVERTISING</a>
            <a href="">MARVEL HQ</a>
            <a href="">REDEEM DIGITAL COMICS</a>
        </div>
        <div>
            <div class="insider">
                <img src="https://picsum.photos/50/40" alt="" width="50" height="40">
                <div>
                    <p>MARVEL INSIDER</p>
                    <p>get Rewarderd for being marvel fan</p>
                </div>  
            </div>         
            <div class="insider">
                <img src="https://picsum.photos/50/40" alt="" width="50" height="40">
                <div>
                <p>MARVEL INSIDER</p>
                <p>get Rewarderd for being marvel fan</p>
                </div>
            </div>
        </div>
        <div class="social-links">
            <p>FOLLOW MARVEL</p>
            <div class="links">
                <span class="fa fa-facebook"></span>
                <span class="fa fa-twitter"></span>
                <span class="fa fa-instagram"></span>
                <span class="fa fa-tumblr"></span>
                <span class="fa fa-youtube"></span>
                <span class="fa fa-snapchat"></span>
                <span class="fa fa-pinterest"></span>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <a href="#">Terms of use</a>
        <a href="#">privacy</a>
        <a href="#">california</a>
        <a href="#">dont sell my info</a>
        <a href="#">clhildren games</a>
        <a href="#">liecense</a>
        <a href="#">intrest based</a>
        <a href="#">marvel terms</a>
        <a href="#">2020 MARVEL</a>
    </div>

</div>