<div class="header">
    <div class="register">
        <p>VISHWAS</p>
    </div>
    <div class="logo">
       <!-- <p>Vishwas</p> -->
        <img src="../../assets/marvel-header-logo.png" alt="">
    </div>
    <div class="search">
        <a> MARVEL MASTERCARD</a>
        <span class="fa fa-search"></span>
    </div>
</div>

<div class="header-wrapper">
    <div class="links">
        <a href="/videos">VIDEO</a>
        <a href="/character">CHARACTERS</a>
        <a href="comics">COMICS</a>
        <a href="/movies">MOVIES</a>
        <a href="/shows">TV SHOWS</a>
        <a href="#">GAMES</a>
        <a href="#">NEWS</a>
        <a href="/home#footer">MORE</a>
    </div>
</div>