<app-loading *ngIf="isLoading"></app-loading>

<div class="container">
    <div class="nav">
        <a href="#">MARVEL SEASON 1</a>
        <a href="#">AVENGERS</a>
        <a href="#">MARVEL SEASON 2</a>
        <a href="#">SEE ALL SHOWS</a>
        <a href="#">DISNEY+</a>
    </div>
    <div class="title">
        <p>LATEST SHOWS</p>
    </div>
    <div class="row">
        <div class="movie" *ngFor="let result of message"> 
            <img src='{{result.thumbnail.path + "." + result.thumbnail.extension}}' alt="">
            <p class="name">{{result.title}}</p>
            <p class="year">{{result.startYear}}</p>
        </div>
    </div>
</div>

