@import 'src/mixins/mixin.scss';

.details {
  display: flex;
  justify-content: flex-start;
  margin: 20px 8vw;
  img {
    height: 400px;
    width: 300px;
  }

  div {
    margin: 0px 50px;

    .title {
      font-size: 3rem;
      margin-bottom: 20px;
    }
  }
}
