<app-loading *ngIf="isLoading"></app-loading>

<div class="container">
    <div class="nav">
        <a href="#">ALL CHARACTERS</a>
        <a href="#">TEAMS AND GROUPS</a>
        <a href="#">EXPLORE ALL</a>
    </div>
    <div class="title">
        <p>TRENDING IN THE UNIVERSE</p>
    </div>
    <div class="characters">
        <div *ngFor="let result of message"> 
            <div class="image-wrapper">
                <img src='{{result.thumbnail.path + "." + result.thumbnail.extension}}' alt="">
                <p class="name">{{result.title}}</p>
                <div class="sq"></div>
            </div>
        </div>
    </div>
</div>

