@import 'src/mixins/mixin.scss';

.loading {
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  @include display($direction: row);
  justify-content: center;
  align-items: center;

  .box-1 {
    @include loading($height: 2rem, $load: loading-1);
  }

  .box-2 {
    @include loading($height: 4rem, $load: loading-2);
  }

  .box-3 {
    @include loading($height: 6rem, $load: loading-3);
  }

  .box-4 {
    @include loading($height: 4em, $load: loading-2);
  }

  .box-5 {
    @include loading($height: 2rem, $load: loading-1);
  }

}

@keyframes loading-1 {
  0% { height: 2em; }
  50% { height: 6em; }
  100% { height: 2em;  }
}

@keyframes loading-2 {
  0% { height: 4em; }
  25% { height: 6em; }
  50% { height: 4em; }
  75% { height: 6em; }
  100% { height: 4em; }
}

@keyframes loading-3 {
  0% { height: 6em; }
  50% { height: 2em; }
  100% { height: 6em; }
}
