$faded-gray: #807d7d;
$link-hover: #f5f5f5;
$sub-text: #666565;
$shadow: #333232;
$footer-background: #000000;
$header-border: #807d7d8a;

@mixin links {
    color: $faded-gray;
    text-decoration: none;
    transition: 0.1s all ease;
    &:hover {
        color: $link-hover;
    }
}

@mixin display($direction) {
    display: flex;
    flex-direction: $direction;
} 

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin header-buttons {
    color: white;
    height: 100%;
    border-left: 1px solid $header-border;
    border-right: 1px solid $header-border;
    @include display($direction: row);
    align-items: center;
    padding: 0px 20px;
}

@mixin loading($height, $load) {
    background: $footer-background;
    width: 0.8rem;
    margin: 3px;
    border-radius: 0.5rem;
    height: $height;
    animation-name: $load;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@mixin api-support-links {
  flex-basis: 300px;

  a {
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.2s all ease;

    &:hover {
      color: red;
      text-decoration: underline;
    }
  }

  p {
    margin-top: 10px;
  }
}

@mixin nav-title-style {
  .nav {
    height: 50px;
    @include display-center;

    a {
      font-family: monospace;
      text-decoration: none;
      color: black;
      margin: 0px 15px;

      &:hover {
        color: red;
      }
    }


  }

  .title {
    @include display-center;
    margin: 15px 0px;
    font-size: 2rem;
    font-weight: bold;
  }
}

@mixin comic-series-movie-style {
  .column {
    margin-left: 15px;
    min-height: 250px;
    width: 150px;

    
    img {
      height: 200px;
      width: inherit;
      box-shadow: 0px 8px 9px -5px $shadow;
      transition: 0.2s all ease;
    }

    .name {
      margin-top: 20px;
      width: inherit;
      font-weight: bold;
      transition: 0.2s all ease;
    }

    .sub-text {
      margin-top: 10px;
      color: $sub-text;
    }

    &:hover {

      img {
        transform: translateY(-5px);
      }

      .name {
        color: red;
      }
    }
  }
}