<div class="container">
  <div class="nav">
    <a href="#">BLACK WIDOW</a>
    <a href="#">AVENGERS</a>
    <a href="#">CAPTAIN MARVEL</a>
    <a href="#">SEE ALL MOVIES</a>
    <a href="#">DISNEY+</a>
  </div>
  <div class="title">
    <p>LATEST MOVIES</p>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="row">
    <div class="column" *ngFor="let result of results">
      <!-- <i (click) = "getDetails(result.resourceURI)"> -->
      <img (click)="getDetails(result.resourceURI)" src='{{result.thumbnail.path + "." + result.thumbnail.extension}}'
        alt="">
      <p class="name">{{result.title}}</p>
      <p class="sub-text">{{result.startYear}}</p>
      <!-- </i> -->
    </div>
  </div>
</div>
<app-details *ngIf="details.show" [obj]="details"></app-details>
